<h2>Name: Shaikh Tauhid</h2>
<h2>PRN: 22070521087</h2>

In [ ]:
import pandas as pd
import numpy as np

# Creating the dataset
data = {
    'Year': [2023, 2023, 2023, 2024, 2024, 2024],
    'Quarter': ['Q1', 'Q2', 'Q3', 'Q1', 'Q2', 'Q3'],
    'Region': ['North America', 'North America', 'Europe', 'Europe', 'Asia', 'Asia'],
    'Country': ['USA', 'Canada', 'UK', 'Germany', 'India', 'China'],
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing', 'Electronics', 'Clothing'],
    'Product Name': ['Laptop', 'T-Shirt', 'Smartphone', 'Jacket', 'Tablet', 'Shoes'],
    'Sales': [10000, 7000, 15000, 9000, 11000, 8000]
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

# 1. Roll-Up (Aggregate Sales by Year)
rollup_df = df.groupby('Year', as_index=False)['Sales'].sum()
print("\nRoll-Up (Aggregate Sales by Year):")
print(rollup_df)

# 2. Drill-Down (Sales by Year and Quarter)
drilldown_df = df.groupby(['Year', 'Quarter'], as_index=False)['Sales'].sum()
print("\nDrill-Down (Sales by Year and Quarter):")
print(drilldown_df)

# 3. Slice (Data for Year 2023)
slice_df = df[df['Year'] == 2023]
print("\nSlice (Data for Year 2023):")
print(slice_df)

# 4. Dice (Sales for Year 2023 and Region 'North America')
dice_df = df[(df['Year'] == 2023) & (df['Region'] == 'North America')]
print("\nDice (Sales for Year 2023 and Region 'North America'):")
print(dice_df)

# 5. Pivot Table Visualization
pivot_table = df.pivot_table(values='Sales', index='Year', columns='Region', aggfunc=np.sum, fill_value=0)
print("\nPivot Table (Sales by Year and Region):")
print(pivot_table)

Original Data:
   Year Quarter         Region  Country     Category Product Name  Sales
0  2023      Q1  North America      USA  Electronics       Laptop  10000
1  2023      Q2  North America   Canada     Clothing      T-Shirt   7000
2  2023      Q3         Europe       UK  Electronics   Smartphone  15000
3  2024      Q1         Europe  Germany     Clothing       Jacket   9000
4  2024      Q2           Asia    India  Electronics       Tablet  11000
5  2024      Q3           Asia    China     Clothing        Shoes   8000

Roll-Up (Aggregate Sales by Year):
   Year  Sales
0  2023  32000
1  2024  28000

Drill-Down (Sales by Year and Quarter):
   Year Quarter  Sales
0  2023      Q1  10000
1  2023      Q2   7000
2  2023      Q3  15000
3  2024      Q1   9000
4  2024      Q2  11000
5  2024      Q3   8000

Slice (Data for Year 2023):
   Year Quarter         Region Country     Category Product Name  Sales
0  2023      Q1  North America     USA  Electronics       Laptop  10000
1  2023      Q2  North America  Canada     Clothing      T-Shirt   7000
2  2023      Q3         Europe      UK  Electronics   Smartphone  15000

Dice (Sales for Year 2023 and Region 'North America'):
   Year Quarter         Region Country     Category Product Name  Sales
0  2023      Q1  North America     USA  Electronics       Laptop  10000
1  2023      Q2  North America  Canada     Clothing      T-Shirt   7000

Pivot Table (Sales by Year and Region):
Region   Asia  Europe  North America
Year
2023        0   15000          17000
2024    19000    9000              0

<ipython-input-1-b4b5f87f18d1>:40: FutureWarning: The provided callable <function sum at 0x7fcaa2be82c0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_table = df.pivot_table(values='Sales', index='Year', columns='Region', aggfunc=np.sum, fill_value=0)