<h2>Name: Shaikh Tauhid</h2>
<h2>PRN: 22070521087</h2>

In [ ]:
import pandas as pd

# Sample dataset
data = {
    'ID': [1, 2, 3, 4, 5, 6],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Age': [25, 30, 35, 40, 22, 29],
    'Country': ['USA', 'UK', 'USA', 'India', 'Canada', 'UK'],
    'Sales': [200, 450, 300, 800, 150, 400]
}

df = pd.DataFrame(data)

# 1. Character Map Transformation - Convert Name column to uppercase
df['Name'] = df['Name'].str.upper()
print("\nCharacter Map Transformation:\n", df)

# 2. Multicast Transformation - Create copies of dataset
df_copy1 = df.copy()
df_copy2 = df.copy()
print("\nMulticast Transformation - Two copies created")

# 3. Conditional Split Transformation - Filter rows where Sales > 300
df_filtered = df[df['Sales'] > 300]
print("\nConditional Split Transformation:\n", df_filtered)

# 4. Aggregation Transformation - Total sales per country
df_aggregated = df.groupby('Country')['Sales'].sum().reset_index()
print("\nAggregation Transformation:\n", df_aggregated)

# 5. Sorting Transformation - Sort by Sales in descending order
df_sorted = df.sort_values(by='Sales', ascending=False)
print("\nSorting Transformation:\n", df_sorted)

# 6. Derived Column Transformation - Categorize Sales as High or Low
df['Sales Category'] = df['Sales'].apply(lambda x: 'High' if x > 300 else 'Low')
print("\nDerived Column Transformation:\n", df)

Character Map Transformation:
    ID     Name  Age Country  Sales
0   1    ALICE   25     USA    200
1   2      BOB   30      UK    450
2   3  CHARLIE   35     USA    300
3   4    DAVID   40   India    800
4   5      EVE   22  Canada    150
5   6    FRANK   29      UK    400

Multicast Transformation - Two copies created

Conditional Split Transformation:
    ID   Name  Age Country  Sales
1   2    BOB   30      UK    450
3   4  DAVID   40   India    800
5   6  FRANK   29      UK    400

Aggregation Transformation:
   Country  Sales
0  Canada    150
1   India    800
2      UK    850
3     USA    500

Sorting Transformation:
    ID     Name  Age Country  Sales
3   4    DAVID   40   India    800
1   2      BOB   30      UK    450
5   6    FRANK   29      UK    400
2   3  CHARLIE   35     USA    300
0   1    ALICE   25     USA    200
4   5      EVE   22  Canada    150

Derived Column Transformation:
    ID     Name  Age Country  Sales Sales Category
0   1    ALICE   25     USA    200            Low
1   2      BOB   30      UK    450           High
2   3  CHARLIE   35     USA    300            Low
3   4    DAVID   40   India    800           High
4   5      EVE   22  Canada    150            Low
5   6    FRANK   29      UK    400           High